*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


.padding{
    padding: 0 125px;
}

.slider-item{
    display: flex;
}

.slider-content{
    width: 20%;
    padding: 48px;
    background-color: #031f30;
}

.slider-content h2{
    color: #fff;
    font-size: 30px;
    margin-bottom: 24px;
}

.slider-content p{
    color: #fff;
    font-size: 15px;
}

.carousel-item{
    height: 620px;
    width: auto;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-btn {
    margin-top: 30px;
}

.card-btn a{
    font-size: 15px;
    font-weight: 400;
    color: #031f30;
    padding: 18px 30px;
    border-radius: 50px;
    border-color: 2px solid #c2b4fc;
    background-color: #c2b4fc;
}


.carousel-indicators{
    position: absolute;
    left: -84%;
    align-items: center;
}

.carousel-indicators [data-bs-target]{
    text-indent: 0;
    width: 12px;
    font-size: 9px;
    line-height: 1;
    height: 12px;
    border-radius: 50%;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    background-clip: none;
}

.carousel-indicators button:not(.active) {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, .45);
    font-size: 0;
}

.carousel-handle .carousel-control-prev, .carousel-control-next{
    top: 90%;
    left: 20%;
    cursor: pointer;
    align-items: unset;
    width: 19px;
    display: flex;
    height: 27px;
}

.carousel-handle .carousel-control-next{
    margin-left: 55px;
    right: inherit;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 1rem;
}


